<!--p id="notice"><%= notice %></p-->

<p><%= @event[:name] %></p>
<p><%= @event[:start_date] %></p>
<p><%= @place[:name] %></p>

<%= form_for @user_ticket, :url => user_tickets_path(@user_ticket) do |form| %>
	Tickets:<br>
	<%= form.collection_select(:ticket, @tickets, :id, :description) %>
	<%= form.number_field :number_of_tickets %><br>
	<br>
	<div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>  
