<!--p id="notice"><%= notice %></p-->

<p><%= @event[:name] %></p>
<p><%= @event[:start_date] %></p>
<p><%= @place[:name] %></p>

<%= form_with model: UserTicket.new do |form| %>
	Tickets:<br>
	<%= form.collection_select(:ticket, Ticket.where(event_id: @event[:id]).first, :id, :description) %>
	<%= form.number_field %>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
