<h1>Receipt</h1>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Event</td>
      <td>Added at</td>
      <td>N° of Tickets</td>
      <td>Price</td>
    </tr>
    <% @user_tickets[0].each do |user_ticket| %>
      <tr>
        <td><%= user_ticket[:event]["name"] %></td>
        <td><%= user_ticket["time"] %></td>
        <td><%= user_ticket["n_bought"] %></td>
        <td><%= user_ticket[:t_price] %></td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td>Total:</td>
      <td><%= @user_tickets[1] %></td>
    </tr>
  </tbody>
</table>

<button><%= link_to "Confirm to Finish", confirm_path %></button>

<br><br>
